.chart-dir {
    padding: 10px;
    float: left;
}

.chart-dir svg rect {
    fill: steelblue;
}

.chart-dir svg rect:hover {
    fill: brown;
}

.chart-dir svg text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}